<h2 class="title">
    FAQ
</h2>

<tui-accordion>
    <tui-accordion-item>
        Item
        <ng-template tuiAccordionItemContent>
            Content
        </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
        Item
        <ng-template tuiAccordionItemContent>
            Content
        </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
        Item
        <ng-template tuiAccordionItemContent>
            Content
        </ng-template>
    </tui-accordion-item>
</tui-accordion>