.wrapper {
    background: #1A1A1A;
    border-radius: 20px;
    padding: 32px;
}

.title {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--tui-info-fill);
    font-weight: 800;
}

.token {
    margin-bottom: 16px;

    .rates {
        margin-top: 4px;
    }
}

.amount {
    margin-bottom: 16px;

    .minmax {
        margin-top: 4px;
    }
}

.token-content {
    display: flex;
    align-items: center;
    img {
        height: 20px;
        width: 20px;
        margin-right: 4px;
    }
    > .symbol {
        margin-right: 4px;
    }

    > .blockchain {
    
        margin-left: 4px;
    }
}