<h2 class="title">
    Пользовательское соглашение
</h2>

<section class="section">
    <h3 class="title">1. Термины и определения</h3>
    <p class="point">
        1.1. JJJJJ — это автоматизированный веб-сервис, расположенный в сети Интернет по адресу https://JJJJJcc и предлагающий
        свои услуги с помощью специального программного интерфейса для всех Пользователей (далее по тексту — Сервис).
    </p>   
    <p class="point">
        1.2. Пользователь — это любое физическое или юридическое лицо, согласившееся со всеми условиями, предложенными
        Сервисом, и присоединившееся к данному соглашению.
    </p>
    <p class="point">
        1.3. Электронные единицы (титульные знаки) — учетные единицы соответствующих систем электронных расчетов,
        обозначающие определенный объем прав требования или иных прав, вытекающих из договора систем электронных
        расчетов со своими пользователями.
    </p>
    <p class="point">
        1.4. Система электронных расчетов (платежная система) — программно-аппаратный продукт, разработанный третьей стороной
        ипредставляющий собой систему реализации учета электронных единиц, а также организации взаиморасчетов между своими
        пользователями.
    </p>
    <p class="point">
        1.5. Платеж — перевод электронных единиц от плательщика к получателю.
    </p>
    <p class="point">
        1.6. Заявка — информация, поданная Пользователем с использованием средств Сервиса в электронном виде, свидетельствующая
        о его намерениях воспользоваться услугами Сервиса на условиях,предложенных Сервисом и указанных в параметрах заявки.
    </p>
</section>

<section class="section">
    <h3 class="title">2. Общие положения</h3>
    <p class="point">
        2.1. Данное соглашение регламентирует отношения между Пользователеми Сервисом по поводу услуг, предоставляемых Сервисом
        Пользователю и отменяет все предшествующие договоренности между Сервисом и Пользователем по данному предмету.
    </p>
    <p class="point">
        2.2. Данное соглашение не отменяет действующего законодательства стран регистрации и местонахождения Пользователя, а
        также договорных отношений между Пользователем и Системой (системами) электронных расчетов.
    </p>
    <p class="point">
        2.3. Данное соглашение считается принятым на условиях публичной оферты, акцептуемой Пользователем в ходе подачи им
        Заявки,являющейся неотъемлемой частью настоящего соглашения.
    </p>
    <p class="point">
        2.3.1. Публичной офертой признается отображаемая Сервисом информация о параметрах и условиях Заявки.
    </p>
    <p class="point">
        2.3.2. Акцептом публичной оферты признается совершение Пользователем действий по завершению формирования Заявки,
        подтверждающих его намерение совершить сделку с Сервисом на условиях, предложенных Сервисом непосредственно перед
        завершением формирования Заявки.
    </p>
    <p class="point">
        2.3.3. Дата и время акцепта, а также параметры условий Заявки фиксируются Сервисом автоматически в момент завершения
        формирования Заявки.
    </p>
    <p class="point">
        2.3.4. Период принятия предложения Пользователем совершить сделку с Сервисом на условиях, описанных в Заявке
        Пользователя, составляет 30 минут с момента завершения формирования Заявки.
    </p>
    <p class="point">
        2.4. Данное соглашение вступает в действие с момента завершения формирования Заявки Пользователем.
    </p>
    <p class="point">
        2.5. Данное соглашение прекращает свое действие с момента поступления на реквизиты, предоставленные Пользователем,
        Электронных единиц в сумме, предусмотренной параметрами Заявки Пользователя, либо с момента аннулирования заявки.
    </p>
    <p class="point">
        2.6. Стороны признают настоящее соглашение в электронной форме равнозначным по юридической силе договору, заключенному в
        письменной форме.
    </p>
    <p class="point">
        2.7. Сервис оставляет за собой право в одностороннем порядке вносить изменения в систему скидок а также в систему
        партнерского вознаграждения без соответствующего уведомления об этом Пользователя, но с обязательной публикацией
        актуальной версии системы отчислений на странице «Справка» разделы «Бонус на обмен» и «Партнерская программа».
    </p>
    <p class="point">
        2.8. Сервис оставляет за собой право в одностороннем порядке вносить изменения в данное соглашение без соответствующего
        уведомления об этом Пользователя, но с обязательной публикацией актуальной версии соглашения на данной странице.
    </p>
</section>

<section class="section">
    <h3 class="title">3. Предмет соглашения</h3>
    <p class="point">
        3.1. С использованием технических средств Сервиса путем подачи Заявки Пользователь поручает, а Сервис от своего
        имени и за счет Пользователя совершает за вознаграждение действия по приему идальнейшей передаче заявленной
        Пользователем суммы Электронных единиц лицу или лицам, желающим приобрести таковые за денежный эквивалент
        в сумме не ниже, чем предусмотрено в параметрах Заявки, поданной Пользователем, а также действия по передаче денежного
        эквивалента в сумме, указанной в параметрах заявки, на реквизиты, указанные Пользователем.
    </p>
    <p class="point">
        3.2. Любая положительная разница, возникшая в результате действий,описанных в пункте 3.1 настоящего соглашения,
        как дополнительно полученная выгода, передается в пользу Сервиса в качестве премиальной оплаты комиссионных услуг.
    </p>
</section>

<section class="section">
    <h3 class="title">4. Условия предоставления услуг</h3>
    <p class="point">4.1. Обработка Заявок Пользователя осуществляется Сервисом в строгом соответствии с политикой приватности
    (пункт 5 настоящего соглашения), а также политикой по противодействию отмыванию денег и предотвращению операций, носящих
    незаконный характер (пункт 6 настоящего соглашения).</p>
    <p class="point">4.2. Заказ услуг Сервиса, управление процессом сделки и получение информации о ходе выполнения сделки Пользователем
    производятся исключительно при помощи соответствующего пользовательского интерфейса, предоставляемого Сервисом.</p>
    <p class="point">4.3. Учет операций с электронными единицами производится Сервисом согласно регламенту, правилам и формату
    соответствующих Системэлектронных расчетов.</p>
    <p class="point">4.4. Любая завершенная операция, проведенная Сервисом по Заявке Пользователя, считается неотменяемой, т.е. не может быть
    отменена Пользователем после ее завершения — получения Пользователем причитающегося ему по ранее акцептованным условиям
    сделки.</p>
    <p class="point">4.5. В случае непоступления от Пользователя электронных единиц втечение 15 минут с момента акцепта Пользователя на
    реквизиты,предоставленные Сервисом, соглашение на условиях, указанных в Заявке, считается расторгнутым Сервисом в
    одностороннем порядке как не вступившее в действие, без уведомления об этом Пользователя.</p>
    <p class="point">4.5.1. В случае расторжения соглашения Электронные единицы, поступившие после указанного выше срока, подлежат возврату
    на реквизиты отправителя в течение последующих 24 часов. При осуществлении возврата все комиссионные расходы на перевод
    электронных единиц производятся из поступивших средств за счет Пользователя. Сервис не несет ответственность за
    возможные задержки при возврате, если они возникли не по вине Сервиса.</p>
    <p class="point">4.6. В случае, если количество поступивших Электронных единиц отличается от заявленного Пользователем, Сервис может в
    одностороннем порядке расторгнуть соглашение путем отказа от исполнения заявки и возврата поступивших средств на
    реквизиты отправителя в течение последующих 24 часов. При осуществлении возврата все комиссионные расходы на перевод
    Электронных единиц производятся из поступивших средств за счет Пользователя. Сервис не несет ответственность за
    возможные задержки при возврате, если они возникли не по вине Сервиса.</p>
    <p class="point">4.7. В случае не отправки денежного эквивалента на указанные Пользователем реквизиты в течение 24 часов с момента начала
    действия договора, при отсутствии причин для блокировки Электронных единиц,поступивших по Заявке Пользователя со стороны
    Сервиса, Пользователь может потребовать расторжения соглашения путем аннулирования своей заявки и возврата электронных
    единиц в полном объеме.</p>
    <p class="point">4.7.1. Требование об аннулировании заявки должно быть исполнено Сервисом только в том случае, если на момент получения
    такого требования денежный эквивалент не был отправлен на реквизиты, указанные Пользователем.</p>
    <p class="point">4.7.2. В случае аннулирования заявки возврат Электронных единиц производится Сервисом на реквизиты отправителя в течение
    24 часов с момента получения требования об аннулировании. Сервис не несет ответственность за возможные задержки при
    возврате, если они возникли не по вине Сервиса.</p>
    <p class="point">4.8. Сервис имеет право привлекать для исполнения своих обязательств сторонних исполнителей.</p>
    <p class="point">4.9. Сервис имеет право отменить выполняющуюся операцию и вернуть внесенные Пользователем Электронные единицы
    и/или финансовые средства c возмещением комиссий Систем электронных расчетов Пользователю без объяснения причин.</p>
    <p class="point">4.10. Сервис имеет право отказать Пользователю в дальнейшем обслуживании в случае нарушения Пользователем любого из
    пунктов настоящего соглашения.</p>
    <p class="point">4.10.1. В случае отказа Сервисом от дальнейшего обслуживания Пользователя, Сервис уведомляет Пользователя о своем
    решении при помощи электронной почты или телефонного звонка, после чего замораживает аккаунт Пользователя
    и все текущие Заявки Пользователя. Далее, Сервис осуществляет возврат Электронных единиц, поступивших по Заявке
    Пользователя на реквизиты отправителя в течение 24 часов с момента отказа. При осуществлении возврата все комиссионные
    расходы на перевод Электронных единиц производятся из поступивших средств засчет Пользователя.
    Сервис не несет ответственность за возможные задержки при возврате, если они возникли не по вине Сервиса.</p>
    <p class="point">4.10.2. Все последующие Заявки, созданные Пользователем после отказа Сервисом в дальнейшем обслуживании Пользователя,
    автоматически замораживаются. Связанные с данными Заявками аккаунты блокируются.</p>
</section>