:host {
    padding: 0 100px;
}

h2.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    margin-bottom: 51px;
}

section.section {
    &:not(:last-child) {
        margin-bottom: 65px;
    }
    
    > h3.title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    > p.point {
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: rgba(255, 255, 255, 0.72);

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}