$accent1: #fff;
$accent2: #eaeaea;
$accent3: #999;
$accent4: #888;
$accent5: #666;
$accent6: #444;
$accent7: #333;
$accent8: #111;
$foreground: #000;

$primaryLighter: #d3e5ff;
$primaryLight: #3291ff;
$primaryDefault: #0070f3;
$primary: #0761d1;

$errorLighter: #f7d4d6;
$errorLight: #ff1a1a;
$error: #e00;
$errorDark: #c50000;

$warningLigher: #ffefcf;
$warningLight: #f7b955;
$warning: #f5a623;
$warningDark: #ab570a;

$alert: #ff0080;